# Compare and Filter Columns

This notebook compares the columns of `listings.csv` and `test_f25.xlsx` and filters `listings.csv` to keep only the common columns.

In [6]:
import pandas as pd
import os

In [7]:
# Load datasets
listings_path = 'listings.csv'
test_path = 'test_f25.xlsx'

df_listings = pd.read_csv(listings_path)
df_test = pd.read_excel(test_path)

print(f"Listings shape: {df_listings.shape}")
print(f"Test shape: {df_test.shape}")

Listings shape: (26304, 79)
Test shape: (130, 55)

/var/folders/g6/vnp__w696sdgy07xfbgbfy4h0000gn/T/ipykernel_37280/2348692458.py:5: DtypeWarning: Columns (72) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listings = pd.read_csv(listings_path)

In [8]:
# Compare columns
listings_cols = set(df_listings.columns)
test_cols = set(df_test.columns)

common_cols = listings_cols.intersection(test_cols)
print(f"Number of common columns: {len(common_cols)}")

missing_in_listings = test_cols - listings_cols
missing_in_test = listings_cols - test_cols

print(f"Columns in Test but not in Listings: {missing_in_listings}")
print(f"Columns in Listings but not in Test: {len(missing_in_test)} columns (e.g., {list(missing_in_test)[:5]}) ")

Number of common columns: 54
Columns in Test but not in Listings: {'No'}
Columns in Listings but not in Test: 25 columns (e.g., ['host_neighbourhood', 'id', 'host_url', 'host_id', 'scrape_id'])

In [9]:
# Filter listings.csv to keep only common columns
# Note: We might want to keep the target variable if it's not in test_f25.xlsx
# Assuming 'host_is_superhost' is the target. Let's check if it is in common_cols
target_col = 'host_is_superhost'
if target_col not in common_cols and target_col in df_listings.columns:
    print(f"Warning: Target column '{target_col}' is not in test data. Adding it back to filtered listings.")
    cols_to_keep = list(common_cols) + [target_col]
else:
    cols_to_keep = list(common_cols)

df_listings_filtered = df_listings[cols_to_keep]
print(f"Filtered Listings shape: {df_listings_filtered.shape}")

Filtered Listings shape: (26304, 54)

In [10]:
# Display first few rows of filtered data
df_listings_filtered.head()

,estimated_revenue_l365d,maximum_maximum_nights,availability_365,room_type,price,availability_90,host_response_time,host_identity_verified,last_review,review_scores_value,...,review_scores_cleanliness,calculated_host_listings_count_private_rooms,host_is_superhost,amenities,bathrooms,review_scores_accuracy,host_has_profile_pic,minimum_maximum_nights,host_response_rate,number_of_reviews_l30d
0,13890.0,1125,244,Entire home/apt,"$2,315.00",82,within a day,t,2024-10-19,4.85,...,4.83,0,f,"[""Private backyard \u2013 Not fully fenced"", ""...",3.0,4.91,t,1125,80%,0
1,0.0,730,173,Entire home/apt,"$4,000.00",0,NaN,t,NaN,NaN,...,NaN,0,f,"[""Hot tub"", ""Bed linens"", ""Essentials"", ""Washe...",2.0,NaN,t,730,NaN,0
2,0.0,1125,326,Private room,"$1,134.00",70,within a few hours,t,2022-06-16,5.00,...,4.86,5,f,"[""Lock on bedroom door"", ""BBQ grill"", ""Indoor ...",1.0,4.86,t,1125,100%,0
3,0.0,30,365,Entire home/apt,"$2,250.00",90,NaN,t,2016-04-15,4.00,...,4.00,0,NaN,"[""Washer"", ""Free parking on premises"", ""Wifi"",...",1.0,4.00,t,30,NaN,0
4,NaN,730,0,Entire home/apt,NaN,0,NaN,f,NaN,NaN,...,NaN,0,f,"[""Wifi"", ""Hot water"", ""Long term stays allowed...",NaN,NaN,t,730,NaN,0

In [11]:
# Save the filtered data to train_data.csv
output_path = 'train_data.csv'
df_listings_filtered.to_csv(output_path, index=False)
print(f"Saved filtered data to {output_path}")

Saved filtered data to train_data.csv

In [12]:
df_listings_filtered.shape

(26304, 54)

In [13]:
data = pd.read_csv("train_data.csv")

In [18]:
# Compare columns
listings_cols = set(df_listings.columns)
test_cols = set(df_test.columns)
data_cols = set(data.columns)

common_cols = data_cols.intersection(test_cols)
print(f"Number of common columns: {len(common_cols)}")

missing_in_listings = test_cols -data_cols
missing_in_test = data_cols - test_cols

print(f"Columns in Test but not in Listings: {missing_in_listings}")
print(f"Columns in Listings but not in Test: {len(missing_in_test)} columns (e.g., {list(missing_in_test)[:5]}) ")

Number of common columns: 54
Columns in Test but not in Listings: {'No'}
Columns in Listings but not in Test: 0 columns (e.g., [])